body{
 background-color: beige; 
}

.form{
  text-align: center;
}

table{
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid crimson;
  padding: 1rem;
  text-align: center;
}